<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constancias</title>
</head>
<body>
    <h1>Lista de Constancias</h1>
    <table>
        <thead>
            <tr>
                <th>CURP</th>
                <th>RFC</th>
                <th>Nombre Completo</th>
                <th>tipo</th>
                <th>Fecha de creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbResultados">
            {% for constancia in constancias %}
                <tr>
                    <td>{{ constancia.curp }}</td>
                    <td>{{ constancia.filiacion }}</td>
                    <td>{{ constancia.nombre_completo }}</td>
                    <td>{{ constancia.tipo_constancia }}</td>
                    <td>{{ constancia.fecha_creacion_constancia }}</td>
                    <td>
                        <a href="{% url 'eliminar_constancia' constancia.id %}">Eliminar</a> |
                        <a href="{% url 'editar_constancia' constancia.id %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
