<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Constancia Generada</title>
    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            .printable-area, .printable-area * {
                visibility: visible;
            }
            .printable-area {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .no-print {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="printable-area">
        <h1>Constancia</h1>
        {% if constancia.logo %}
    <div>
        <img id="logo-constancia" src="{{ constancia.logo.url }}" alt="Logo Institucional" style="max-width: 200px;">
    </div>
{% endif %}
        <p>Nombre: {{ constancia.nombre }}</p>
    </div>

    <div class="no-print">
        <button id="boton-imprimir" onclick="alert('Constancia enviada a imprimir')">Imprimir</button>
        <!--<button id="boton-imprimir" onclick="window.print()">Imprimir</button>-->
        <a id="Generar_otra _constancia" href="{% url 'crear_constancia' %}" class="button">Generar otra constancia</a>
    </div>
</body>
</html>